Acá importamos las librerias que son necesarias para el resto del código.

In [72]:
import pandas as pd
import numpy as np
import streamlit as st
import matplotlib.pyplot as plt

Invocamos los datos que hemos importado tales como las 'reservas'. 'reporte de ingreso año 2024' y el 'check-in'

In [ ]:
df = pd.read_csv('reservas 27032024 27032025.csv', sep=';', skiprows=1, encoding='utf-8')
df2 = pd.read_csv('reporte de ingreso año 2024 a la fecha.csv', sep=';', encoding='latin1')
df3 = pd.read_excel('Check-in del 2024-03-27 al 2025-03-28 bookin.xls', sheet_name='Sheet1', header=0)

invocamos el DataFrame de 'df'

In [67]:
df

,Titular,Tipo doc,NÃºmero doc,Nacionalidad,Email,Fecha de nacimiento,GÃ©nero,HabitaciÃ³n,Ingreso,Salida,...,Canal,Creada por,Fecha creaciÃ³n,CÃ³digo de la reserva,Total alojamiento,Estatus,ID CategorÃ­a,Myallocator ID categorÃ­a,Myallocator ID,Myallocator ID de agencia
0,alba quintero,CÃ©dula de ciudadanÃ­a,1067848216,Colombia,NaN,10/11/1985,Femenino,TRIPLES PRIVADO SAN RAFAEL,26/03/2025 5:00,27/03/2025 5:00,...,NaN,Jhon117,27/03/2025 1:12,15351926,79900.0,NaN,32364,NaN,NaN,NaN
1,jose acosta,CÃ©dula de ciudadanÃ­a,111585061,Colombia,NaN,NaN,Masculino,4 o 5 PAX PRIVADO GUATAPE,26/03/2025 5:00,27/03/2025 5:00,...,NaN,Jhon117,26/03/2025 22:40,15350047,80000.0,NaN,32367,NaN,NaN,NaN
2,jonathan VARGAS,CÃ©dula de ciudadanÃ­a,1115913988,Colombia,NaN,5/07/1992,Masculino,TITIRIBI TITIRIBI,26/03/2025 5:00,27/03/2025 5:00,...,NaN,Jhon117,26/03/2025 22:40,15350041,49900.0,NaN,32399,NaN,NaN,NaN
3,Edgar Armando Mena Montoya,NaN,NaN,NaN,NaN,NaN,NaN,LA CEJA DORMITORIO Ceja 6,27/03/2025 5:00,31/03/2025 5:00,...,NaN,Jhon117,26/03/2025 15:21,15343929,0.0,Cuenta pagada,32361,NaN,NaN,NaN
4,juan gomez,CÃ©dula de ciudadanÃ­a,1000019294,Colombia,NaN,25/05/2002,Masculino,TITIRIBI TITIRIBI,25/03/2025 5:00,26/03/2025 5:00,...,NaN,Jhon117,25/03/2025 22:14,15337114,50000.0,NaN,32399,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2462,ana hernandez bustos,CÃ©dula de ciudadanÃ­a,109876882,Colombia,NaN,27/04/1995,Femenino,SANTA FE BAÃ‘O EXTERNO SANTA FE,27/03/2024 5:00,31/03/2024 5:00,...,NaN,jaime andres rocha,28/03/2024 1:47,11398621,520000.0,NaN,32398,NaN,NaN,NaN
2463,A ldo Suros,NaN,NaN,NaN,NaN,NaN,Masculino,LA CEJA DORMITORIO Ceja 3,27/03/2024 5:00,28/03/2024 5:00,...,NaN,jaime andres rocha,27/03/2024 23:45,11397430,32023.0,Cuenta pagada,32361,NaN,NaN,NaN
2464,Daniel El Khoury,Pasaporte,23HE81140,Francia,NaN,3/06/1994,Masculino,4 o 5 PAX PRIVADO PEÃ‘OL,28/03/2024 5:00,29/03/2024 5:00,...,NaN,jaime andres rocha,27/03/2024 23:35,11397280,115572.0,NaN,32367,NaN,NaN,NaN
2465,KARIM BOURAS,Pasaporte,20EA11230,Francia,NaN,24/12/1990,Masculino,LA CEJA DORMITORIO Ceja 5,28/03/2024 5:00,31/03/2024 5:00,...,NaN,jaime andres rocha,27/03/2024 19:48,11394517,81000.0,NaN,32361,NaN,NaN,NaN
2466,John Stever Parra Rodriguez,CÃ©dula de ciudadanÃ­a,1024514802,Colombia,NaN,4/03/1991,Masculino,LA CEJA DORMITORIO Ceja 4,27/03/2024 5:00,28/03/2024 5:00,...,NaN,jaime andres rocha,27/03/2024 17:20,11392650,32023.0,NaN,32361,NaN,NaN,NaN

In [68]:
# Elimina los valores nulos para evitar errores
genero = df['GÃ©nero'].dropna()

# Cuenta cuántos hay de cada género
conteo = genero.value_counts()

# Calcula el porcentaje
porcentaje = genero.value_counts(normalize=True) * 100

# Muestra resultados
print("Conteo por género:\n", conteo)
print("\nPorcentaje por género:\n", porcentaje)

Conteo por género:
 GÃ©nero
Masculino    1336
Femenino      803
Name: count, dtype: int64

Porcentaje por género:
 GÃ©nero
Masculino    62.459093
Femenino     37.540907
Name: proportion, dtype: float64

Los datos faltantes (missing_data) que hay en cada columna, osea los datos que la gente no registra.

In [27]:
# ...existing code...

# Contar los datos faltantes en cada columna
missing_data = df.isnull().sum()
print(missing_data)

# ...existing code...

Titular                               0
Tipo doc                             85
NÃºmero doc                         103
Nacionalidad                        102
Email                              2118
Fecha de nacimiento                 180
GÃ©nero                             328
HabitaciÃ³n                           0
Ingreso                               0
Salida                                0
OcupaciÃ³n(NÃºmero de personas)       0
Plan                               2467
Canal                              2238
Creada por                            0
Fecha creaciÃ³n                       0
CÃ³digo de la reserva                 0
Total alojamiento                     0
Estatus                            2065
ID CategorÃ­a                         0
Myallocator ID categorÃ­a          2467
Myallocator ID                     2467
Myallocator ID de agencia          2467
dtype: int64

En este código, buscamos eliminar los datos que no necesitamos cuyos datos faltantes exceden de los 2000 y a su vez los eliminamos de las columnas del DataFrame.

In [28]:
# ...existing code...

# Contar los datos faltantes en cada columna
missing_data = df.isnull().sum()

# Definir el umbral de datos faltantes (más de 2000)
threshold = 2000

# Identificar las columnas que exceden el umbral
columns_to_drop = missing_data[missing_data > threshold].index

# Eliminar las columnas del DataFrame
df = df.drop(columns=columns_to_drop)

# Mostrar las columnas eliminadas
print(f"Columnas eliminadas: {list(columns_to_drop)}")

# ...existing code...

Columnas eliminadas: ['Email', 'Plan', 'Canal', 'Estatus', 'Myallocator ID categorÃ\xada', 'Myallocator ID', 'Myallocator ID de agencia']

La información de los datos que se han llenado en cada columna de los 2467 que se han registrado (entries)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Titular                          2467 non-null   object
 1   Tipo doc                         2382 non-null   object
 2   NÃºmero doc                      2364 non-null   object
 3   Nacionalidad                     2365 non-null   object
 4   Fecha de nacimiento              2287 non-null   object
 5   GÃ©nero                          2139 non-null   object
 6   HabitaciÃ³n                      2467 non-null   object
 7   Ingreso                          2467 non-null   object
 8   Salida                           2467 non-null   object
 9   OcupaciÃ³n(NÃºmero de personas)  2467 non-null   int64
 10  Creada por                       2467 non-null   object
 11  Fecha creaciÃ³n                  2467 non-null   object
 12  CÃ³digo de la reserva            2467 non-null   int64
 13  Total alojamiento                2467 non-null   float64
 14  ID CategorÃ­a                    2467 non-null   int64
dtypes: float64(1), int64(3), object(11)
memory usage: 289.2+ KB

In [45]:
df2

,Fecha,Cliente,Tipo doc,Producto,Valor,Forma de pago,Registrado por,Reserva #,Transacción #
0,27/03/2025 15:48,Koneczna Magdalena koneczna,C.E,CIFRUT,"2,000.00",Efectivo,Jhon117,15248106.0,12787798
1,27/03/2025 15:48,Koneczna Magdalena koneczna,C.E,Cargo extra,"23,000.00",Efectivo,Jhon117,15248106.0,12787798
2,27/03/2025 10:46,Mateo Barrera,C.C,Alojamiento,"47,500.00",Transferencia bancaria,Jhon117,15079614.0,12784271
3,26/03/2025 20:15,alba quintero,C.C,Alojamiento,"79,900.00",Efectivo,Jhon117,15351926.0,12780162
4,26/03/2025 17:54,jose acosta,C.C,Alojamiento,"80,000.00",Transferencia bancaria,Jhon117,15350047.0,12778441
...,...,...,...,...,...,...,...,...,...
10047,27/03/2024 10:52,Gerrit Lieb,Pasaporte,Alojamiento,"119,600.00",Efectivo,jaime andres rocha,11351140.0,8750962
10048,27/03/2024 10:14,Ivan Camilo Hernandez,C.C,AGUA,"3,500.00",Efectivo,jaime andres rocha,11386479.0,8750344
10049,27/03/2024 7:36,Marthe dutey,Pasaporte,POSTOBON,"3,000.00",Efectivo,jaime andres rocha,NaN,8748794
10050,27/03/2024 0:27,Juan Roberto Soto,Pasaporte,CERVEZA PILSEN,"6,000.00",Efectivo,jaime andres rocha,10450398.0,8748140
10051,27/03/2024 0:27,Juan Roberto Soto,Pasaporte,POSTOBON,"3,000.00",Efectivo,jaime andres rocha,10450398.0,8748140

Mostrar la informacion del segundo Data Frame "info()"

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10052 entries, 0 to 10051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           10052 non-null  object
 1   Cliente         8414 non-null   object
 2   Tipo doc        8152 non-null   object
 3   Producto        10052 non-null  object
 4   Descripción     766 non-null    object
 5   Valor           10052 non-null  object
 6   Forma de pago   10052 non-null  object
 7   Registrado por  10052 non-null  object
 8   Reserva #       6722 non-null   float64
 9   Factura #       48 non-null     object
 10  Transacción #   10052 non-null  int64
 11  Comprobante #   3 non-null      float64
dtypes: float64(2), int64(1), object(9)
memory usage: 942.5+ KB

Contamos los datos que faltan en cada columna y lo mostramos.

In [33]:
# ...existing code...

# Contar los datos faltantes en cada columna
missing_data = df2.isnull().sum()
print(missing_data)

# ...existing code...

Fecha                 0
Cliente            1638
Tipo doc           1900
Producto              0
Descripción        9286
Valor                 0
Forma de pago         0
Registrado por        0
Reserva #          3330
Factura #         10004
Transacción #         0
Comprobante #     10049
dtype: int64

En este codigo se procede a eliminar las columnas de los datos faltantes que se exceden mas de 9000 y se muestra abajo la lista de las columnas eliminadas.

In [44]:
# ...existing code...

# Contar los datos faltantes en cada columna de df2
missing_data_df2 = df2.isnull().sum()

# Definir el umbral de datos faltantes (más de 9000)
threshold_df2 = 9000

# Identificar las columnas que exceden el umbral
columns_to_drop_df2 = missing_data_df2[missing_data_df2 > threshold_df2].index

# Eliminar las columnas del DataFrame df2
df2 = df2.drop(columns=columns_to_drop_df2)

# Mostrar las columnas eliminadas
print(f"Columnas eliminadas de df2: {list(columns_to_drop_df2)}")

# ...existing code...

Columnas eliminadas de df2: ['Descripción', 'Factura #', 'Comprobante #']

In [73]:
data = {
    'Producto': ['CIFRUT', 'Cargo extra', 'CIFRUT', 'Cargo extra', 'CIFRUT'],
    'Cantidad': [1, 1, 1, 1, 1]
}
df = pd.DataFrame(data)

# Contar la cantidad de productos comprados
producto_counts = df['Producto'].value_counts()

# Calcular los porcentajes
producto_percentages = (producto_counts / producto_counts.sum()) * 100

# Crear la gráfica de barras
fig, ax = plt.subplots()
producto_counts.plot(kind='bar', ax=ax, color='skyblue', alpha=0.8)
ax.set_title('Cantidad de productos comprados')
ax.set_xlabel('Producto')
ax.set_ylabel('Cantidad')
ax.bar_label(ax.containers[0], labels=[f'{p:.1f}%' for p in producto_percentages])

# Mostrar la gráfica en Streamlit
st.pyplot(fig)

# Mostrar la tabla con cantidades y porcentajes
st.write("Tabla de productos comprados:")
st.write(pd.DataFrame({
    'Producto': producto_counts.index,
    'Cantidad': producto_counts.values,
    'Porcentaje': producto_percentages.values
}))

# ...existing code...

2025-04-14 16:20:14.403 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:14.797 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:15.205
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\Yenifer\proyecto_1\santi\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-04-14 16:20:15.206 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:15.208 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:15.210 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:15.211 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:15.213 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:15.937 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-14 16:20:15.940 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [56]:
df3

,Número de reserva,Reservado por,Nombre del cliente (o clientes),Entrada,Salida,Fecha de reserva,Estado,Habitaciones,Personas,Precio,Comisión %,Importe de la comisión,Comentarios,Booker country,Tipo de unidad,Duración (noches),Fecha de cancelación
0,4396111470,"Parra, John S.",John S. Parra,2024-03-27,2024-03-28,2024-03-27 12:11:31,ok,1,1,26910 COP,14,3767.4 COP,NaN,co,Dormitorio,1,NaN
1,4557704876,"López, Jojanna",Jojanna López,2024-03-27,2024-03-28,2024-03-25 10:32:33,cancelled_by_guest,1,1,26910 COP,14,NaN,NaN,co,Dormitorio,1,2024-03-26 19:32:31
2,4637253976,"Surós, Aldo",Aldo Surós,2024-03-27,2024-03-28,2024-03-27 18:40:32,ok,1,1,26910 COP,14,3767.4 COP,NaN,cr,Dormitorio,1,NaN
3,4689813600,"Le Roy, Victor",Victor Le Roy,2024-03-27,2024-03-28,2024-03-27 21:06:36,ok,1,1,26910 COP,14,3767.4 COP,NaN,co,Dormitorio,1,NaN
4,4897263353,"Hernandez, Ana Milena",Ana Milena Hernandez,2024-03-27,2024-03-28,2024-03-27 20:18:03,ok,1,3,107910 COP,14,15107.4 COP,NaN,co,Basic Triple Room with Shared Bathroom,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2281,4502890135,"moreno, liseth",liseth moreno,2025-03-20,2025-03-23,2025-02-01 13:21:39,cancelled_by_guest,1,4,539730 COP,16,NaN,NaN,co,Quadruple Room with Shared Bathroom,3,2025-03-04 00:05:11
2282,4749774277,"Trejos Cueto, José Manuel",José Manuel Trejos Cueto,2025-03-22,2025-03-26,2025-01-22 08:00:41,ok,1,1,162000 COP,16,25920 COP,Approximate time of arrival: between 10:00 and...,co,Habitacion individual economica en lavanderia ...,4,NaN
2283,4942788539,"Magdalena, Koneczna",Koneczna Magdalena,2025-03-23,2025-03-27,2025-02-21 08:59:49,ok,1,1,110340 COP,16,17654.4 COP,Approximate time of arrival: between 21:00 and...,pl,Dormitorio,4,NaN
2284,4517617109,"Larouche, Mario",Mario Larouche,2025-03-25,2025-03-27,2025-02-13 18:07:20,cancelled_by_guest,1,1,42390 COP,16,NaN,NaN,ca,Dormitorio,2,2025-03-11 01:02:56
2285,4540979937,"Morales, Doris",Doris Morales,2025-03-28,2025-04-04,2025-02-12 20:08:16,cancelled_by_guest,1,1,168975 COP,16,NaN,Approximate time of arrival: between 15:00 and...,cl,Dormitorio,7,2025-02-13 02:10:31

In [48]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2286 entries, 0 to 2285
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Número de reserva                2286 non-null   int64
 1   Reservado por                    2286 non-null   object
 2   Nombre del cliente (o clientes)  2257 non-null   object
 3   Entrada                          2286 non-null   object
 4   Salida                           2286 non-null   object
 5   Fecha de reserva                 2286 non-null   object
 6   Estado                           2286 non-null   object
 7   Habitaciones                     2286 non-null   int64
 8   Personas                         2286 non-null   int64
 9   Adultos                          28 non-null     float64
 10  Niños                            28 non-null     float64
 11  Edades de los niños:             1 non-null      float64
 12  Precio                           2286 non-null   object
 13  Comisión %                       2286 non-null   int64
 14  Importe de la comisión           1396 non-null   object
 15  Estado del pago                  2 non-null      object
 16  Forma de pago                    0 non-null      float64
 17  Comentarios                      569 non-null    object
 18  Grupo de reserva                 0 non-null      float64
 19  Booker country                   2286 non-null   object
 20  Motivo del viaje                 1782 non-null   object
 21  Dispositivo                      2280 non-null   object
 22  Tipo de unidad                   2286 non-null   object
 23  Duración (noches)                2286 non-null   int64
 24  Fecha de cancelación             556 non-null    object
 25  Dirección                        15 non-null     object
 26  Número de teléfono               0 non-null      float64
dtypes: float64(6), int64(5), object(16)
memory usage: 482.3+ KB

In [49]:
missing_data = df3.isnull().sum()
print(missing_data)

Número de reserva                     0
Reservado por                         0
Nombre del cliente (o clientes)      29
Entrada                               0
Salida                                0
Fecha de reserva                      0
Estado                                0
Habitaciones                          0
Personas                              0
Adultos                            2258
Niños                              2258
Edades de los niños:               2285
Precio                                0
Comisión %                            0
Importe de la comisión              890
Estado del pago                    2284
Forma de pago                      2286
Comentarios                        1717
Grupo de reserva                   2286
Booker country                        0
Motivo del viaje                    504
Dispositivo                           6
Tipo de unidad                        0
Duración (noches)                     0
Fecha de cancelación               1730
Dirección                          2271
Número de teléfono                 2286
dtype: int64

In [50]:
# ...existing code...

# Contar los datos faltantes en cada columna de df3
missing_data_df3 = df3.isnull().sum()

# Definir el umbral de datos faltantes (más de 2000)
threshold_df3 = 2000

# Identificar las columnas que exceden el umbral
columns_to_drop_df3 = missing_data_df3[missing_data_df3 > threshold_df3].index

# Eliminar las columnas del DataFrame df3
df3 = df3.drop(columns=columns_to_drop_df3)

# Mostrar las columnas eliminadas
print(f"Columnas eliminadas de df3: {list(columns_to_drop_df3)}")

# ...existing code...

Columnas eliminadas de df3: ['Adultos', 'Niños', 'Edades de los niños:', 'Estado del pago', 'Forma de pago', 'Grupo de reserva', 'Dirección', 'Número de teléfono']

In [52]:
# ...existing code...

# Contar la cantidad de registros por cada motivo del viaje
motivo_viaje_counts = df3['Motivo del viaje'].value_counts()
print(motivo_viaje_counts)

# ...existing code...

Motivo del viaje
Ocio       1574
Trabajo     208
Name: count, dtype: int64

In [53]:
# ...existing code...

# Eliminar la columna "Motivo del viaje" del DataFrame df3
df3 = df3.drop(columns=['Motivo del viaje'])

# Mostrar un mensaje confirmando la eliminación
print("La columna 'Motivo del viaje' ha sido eliminada.")

# ...existing code...

La columna 'Motivo del viaje' ha sido eliminada.

In [55]:
# ...existing code...

# Eliminar la columna "Dispositivo" del DataFrame df3
df3 = df3.drop(columns=['Dispositivo'])

# Mostrar un mensaje confirmando la eliminación
print("La columna 'Dispositivo' ha sido eliminada.")

La columna 'Dispositivo' ha sido eliminada.